@import url('daily_fortune.css');

.main-title,
.title,
.interp-title,


.tarot-card-select {
    border-color: #fff;
    background: linear-gradient(135deg, #222 0%, #333 100%);
}

.tarot-card-select.selected {
    border-color: #fff;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.6);
}

.tarot-card-select::after {
    content: 'C';
    color: rgba(255, 255, 255, 0.2);
}